html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	padding-top: 25px;
}

#header, h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -81px;
	/* Pad bottom by footer height */
	padding: 0 0 81px;
}

.hrz-name {
	font-weight: bold;
}
